*{
	padding: 0;
	margin: 0;
}

input{
	border:none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a{
	text-decoration: none;S
}

.container{
	width: 1000px;
	margin: 0 auto;
}

html{
	min-width: 1100px;
	background: transparent url(../img/html_bg.jpg) no-repeat scroll center top;
}

body{
	font-family: "FranklinGothicDemiCond";
	height: 3000px;
}

header{
	margin-top: 10px;
}

header .logo{
	display: inline-block;
	margin-left: 58px;
}

header .header_btn{
	background-color: #eb282d;
	height: 52px;
	width: 220px;
	-webkit-box-shadow: 6px 6px #272727;
	box-shadow: 6px 6px #272727;
	cursor: pointer;
	float: right;
	margin-top: 22px;

	font-size: 24px;
	text-transform: uppercase;
	color:white;
	line-height: 52px;
	text-align: center;
}

header .header_btn:hover{
	background-color: #ff6b11;
}

header .header_btn:active{
	background-color: #d82c10;
}

.promo{
	color: #272727;
	margin-top: 158px;
}

.promo>div>div:nth-child(1){
	font-size: 62px;
	line-height: 95px;
	margin-left: 46px;
}

.promo>div>div:nth-child(2){
    font-size: 57px;
    line-height: 64px;
    margin-left: 164px;	
}

.promo>div>div:nth-child(3){
    font-size: 58px;	
    line-height: 75px;    
    margin-left: 76px;
}

.promo>div>div:nth-child(4){
	font-size: 43px;
	margin-left: 100px;
	line-height: 20px;
}

.promo>div>div:nth-child(5){
	color: #fff;
	margin-top: 58px;
	margin-left: 80px;
	font-size: 32px;

}

.promo>div>div:nth-child(6){
    color: #fff;
    margin-top: 28px;
    margin-left: 130px;
    font-size: 25px;
}

.action_block{
	margin-top: 200px;
	color: #fff;
}

.action_block>.container{
	position: relative;
}

.action_block form,
.form_block form
{
    float: right;
    width: 277px;
    margin: 2px 50px 0 0;
    text-transform: uppercase;
    text-align: center;
}

.action_block form h1,
.form_block form h1{
    font-size: 46px;
}

.action_block form p:nth-child(2),
.form_block form p:nth-child(2){
	color: #ff6b00;
    font-size: 36px;
    line-height: 14px;
    text-decoration: line-through;
}

.action_block form p:nth-child(3),
.form_block form p:nth-child(3){
	font-size: 46px;
	line-height: 82px;
}

.action_block form .sale,
.form_block form .sale{
	font-size: 16px;
    line-height: 26px;
    font-family: "Proxima Nova CB";
    margin-bottom: 20px;
}

.action_block form input[type="text"],
.form_block form input[type="text"]{
	display: block;
    height: 58px;
    width: 210px;
    background: transparent url(../img/user_input.png) no-repeat scroll left top;
    padding: 0 44px 0 22px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 9px;
    font-family: "FranklinGothicDemiCond";
}

.action_block form input[name="phone"],
.form_block form input[name="phone"]{
    background: transparent url(../img/user_phone.png) no-repeat scroll left top;
}

.action_block form input[type="submit"],
.form_block form input[type="submit"]{
	display: block;
    height: 58px;
    width: 276px;
    background: transparent url(../img/button2.png) no-repeat scroll left top;
    font-size: 21px;
    font-family: "FranklinGothicDemiCond";
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 0 4px;
}

.description_block{
	margin-top: 110px;
	position: relative;
}

.description_block>.container{
	height: 558px;
}

.description_block p{
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 320px;
	color:#272727;
	font-size: 35px;
}

.description_block p.item1{
    left: 363px;
    top: -10px;
    font-size: 30px;
}

.description_block p.item2{
    left: 668px;
    top: 75px;	
    line-height: 30px;
}

.description_block p.item3{
    left: 894px;
    top: 108px;
}

.description_block p.item4{
 	top: 194px;
    left: 240px;
}

.description_block p.item5{
	top: 438px;
    left: 280px;
    font-size: 40px;
    line-height: 35px;
}

.desc_btn{
	background-color: #eb282d;
	height: 72px;
	width: 725px;
	-webkit-box-shadow: 4px 7px #ad0004;
	box-shadow: 4px 7px #ad0004;
	cursor: pointer;

	font-size: 25px;
	color:white;
	line-height: 72px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
}

.desc_btn:hover,
.work .work_btn:hover{
	background-color: #ff9211;
	-webkit-box-shadow: 4px 7px #eb6615;
	box-shadow: 4px 7px #eb6615;
}

.desc_btn:active,
.work .work_btn:active{
	background-color: #ad0004;
	-webkit-box-shadow: 4px 7px #ff9211;
	box-shadow: 4px 7px #ff9211;	
}

.fishing h1{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    padding: 61px 0 0;
    margin: 0 0 163px;
}

.problem{
	margin-top: 20px;
}

.problem .content_wrapper{
    display: inline-block;
    width: 60%;
}

.problem img{
	float: right;
}

.problem .content_wrapper h3{
	font-size: 32px;
    color: #119e98;
}

.problem .content_wrapper p{
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
    width: 540px;
}

.travel{
	background: url(../img/block_bg.jpg) no-repeat center top;
	height: 400px;
	margin-top: 30px;
}

.travel h3{
	display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    padding: 61px 0 0;
    margin-top: 72px;
}

.guaranty{
	margin-top: 20px;
}

.guaranty h1{
	float: left;
    width: 260px;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    background: transparent url(../img/line.png) no-repeat scroll left bottom;
    padding: 0 0 35px;
}

.guaranty img{
	float: right;
}

.work{
	background: url(../img/block_bg7.jpg) no-repeat center top;
	height: 926px;
	margin-top: 10px;
	position: relative;
}

.work h1{
	display: inline-block;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    background: transparent url(../img/line.png) no-repeat scroll center bottom;
    padding-bottom: 30px;
    color: #fff;
    margin-top: 152px;
}

.work p,
.work .work_btn{
	position: absolute;
}

.work p{
    width: 245px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-family: "Proxima Nova CB";
}

.work p.item1{
    top: 400px;	
    left: 135px;
}

.work p.item2{
    top: 720px;
    left: 344px;	
}

.work p.item3{
	left: 556px;
    top: 472px;
}

.work p.item4{
    left: 744px;
    top: 720px;
}

.work p.item5{
    left: 966px;
    top: 392px;
}

.work .work_btn{
	background-color: #eb282d;
	height: 59px;
	width: 170px;
	-webkit-box-shadow: 4px 7px #ad0004;
	box-shadow: 4px 7px #ad0004;

	font-size: 18px;
	color:white;
	line-height: 59px;
	text-align: center;
	text-decoration: none;
	font-family: "Proxima Nova CB";
	text-transform: uppercase;
	top: 455px;
}

.comments{
	margin-top: 25px;
}

.comments h1{
	width: 100%;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    background: transparent url(../img/line.png) no-repeat scroll center bottom;
    padding: 0 0 30px;
    margin: 0 0 77px;
}

.comments .comment{
    background: transparent url(../img/stars.png) no-repeat scroll center top;
    margin-bottom: 30px;
    padding-top: 55px;
}

.comments .comment:nth-child(2){
	background: none ;
	padding: 0;
}

.comments .comment img{
	float: left;
    width: 150px;
    text-align: center;
    padding: 0 0 0 50px;
}

.comments .comment .comment_content{
    width: 71%;
    margin-left: 281px;
}

.comments .comment .comment_content .title{
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 27px;
    padding: 0 25px 0 0;
}

.comments .comment .comment_content .text{
    font-family: Arial;
    font-size: 16px;
    padding: 0 25px 0 0;
}

.form_block{
	height: 632px;
	background: transparent url(../img/action_bg.png) no-repeat scroll center top;
}

.form_block>.container{
	position: relative;
}

.form_block>div>h1{
	display: block;
    font-size: 80px;
    line-height: 80px;
    padding: 188px 0px 0px 80px;
    text-shadow: 1px 1px 2px black, 0 0 1em #000;
	color: #fff;
	width: 60%;
}

.form_block h1 span{
    display: block;
    font-size: 51px;
    line-height: 14px;
    padding: 0 0 0 67px;
}

.form_block form{
    margin-top: -140px;
    color: #fff;
}

footer{
    float: left;
    position: relative;
    width: 100%;
    height: 81px;
    text-align: center;
    background: transparent url(../img/footer_bg.png) no-repeat scroll center bottom;
    margin: -100px 0 0;
    z-index: 200;
    padding: 225px 0 0;
}

footer>.container{
	position: relative;
}

footer p{
	position: absolute;
    width: 100%;
    height: 72px;
    bottom: 60px;
    background: transparent url(../img/gradient.png) repeat scroll 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px 50px 20px;
    bottom: -20px;

    font-size: 14px;
    text-align: center;
    color: #6C6E6F;
}

footer p a{
    color: #6C6E6F;
    text-decoration: none;
}

footer p a:hover{
    color: #FF0069;
    text-decoration: none;
}

.eTimer{
	position: absolute;
    top: 314px;
    left: -30px;
}

.eTimer .etUnit {
    margin-left: 81px;
}

.eTimer1{
	position: absolute;
    top: 402px;
    left: -22px;
}

.eTimer1 .etUnit {
    margin-left: 49px;
}