@charset "UTF-8";
/*Кроссбраузерное покдлючение шрифтов*/
@font-face {
  font-family: 'italic';
  src: url("../fonts/italic.eot");
  src: local("☺"), url("../fonts/italic.woff") format("woff"), url("../fonts/italic.ttf") format("truetype"), url("../fonts/italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
$colorBlack:#000;
$colorgrey:#515151;
$colorWhite:#fff;
@media screen and (max-width: 480px) {
	header {
       nav {
       	ul {
       		li {
       			margin-top: 1em;
       		}
       	}
       }
       .zakaz {
       	margin-top: 2em;
       }
	}
.haracter-wrap {
	margin-bottom: 30em !important;
}

.poddelka-wrap {
	margin-top: 110em !important;
}
.reviews-wrap {
  background:#fff !important;
	.item-reviews {
     width:250px !important;
     padding:0 !important;
	}
	.profile-wrap {
		flex-direction:column;


		.block {
           flex-direction:column;
           	width:100% !important;
		border:none !important;
		}
	}
}
.form  {
	margin-top: 30em !important;
}
}
@media screen and (max-width: 671px) {
	  .section-advantage {
	  	.left-block, .right-block {
	  		margin:0 auto;
	  	}
	  }

}
@media screen and (max-width: 681px) {
 .poddelka-wrap {
 	margin-top:70em;
 }
}
@media screen and (max-width: 751px) {
	.title {
		width:100% !important;
	}
	.line {
		display:none !important;
	}
	header {
		nav {
			ul {
				flex-direction:column;
			}
		}

	}
}
@media screen and (max-width: 992px) {
	.advantage-wrap {
		background:#DDDDDD !important;
		height: 1600px !important;
	}
     .section-advantage {
         background:transparent !important;
            display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-wrap:wrap;
            align-items:center;
            justify-content:space-between;
     }
     .item1,.item2,.item3,.item4,.item5,.item6 {
     	position:static !important;
     }
     .wrap-block {
		   margin:20px auto;
            div {
            	margin:20px auto;
            	ul {
            		
               margin:0 !important;
            }
	}
}

.wendor-wrap {
	margin-top: 25em;
	background:#022A43 !important;
}
  .reviews-wrap {
  	background:#fff !important;
  	.item-reviews {
  	padding:0 100px;
  }
  }
}
@media screen and (max-width: 1125px) {
	.service-wrap {
		margin-top: 10em !important;
	}
	.header-wrap {
		height:auto !important;
	}
	header {
		justify-content:center !important;
	}
}
@media screen and (max-width: 1200px) {
	.item1 {
            	top: 0px !important;
                left: 29px !important;
            }
         .item2 {
         
            	left:19px !important;
            }
         .item3 {

                left: 21px !important;
            }

             .item4 {
        
            	right:24px !important;
            }

             .item5 {
           
            	top: 246px !important;
                right: 24px !important;
            }

             .item6 {
         
            	right:20px !important;
            }
}
* {
	padding: 0;
	margin: 0;
}
input, textarea {outline: none;}
div, input[type="text"] {
box-sizing: border-box;
}


.container-fluid, .row {
   margin: 0 !important;
   padding: 0 !important;
}

body {
	font-family: 'italic';
	font-weight: normal;
    font-style: normal;
    font-size:14px;
    color:$colorBlack;
}
.header-wrap {
	background:url(../images/header-bg.png) no-repeat;
	background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover; 
   background-position:100% 100%;
   position:relative;
	height:620px;
    
	header {
		padding-top: 10px;
		display: flex;
 	    display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items:center;
        justify-content:space-between;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;

        nav {

        	ul {
        		list-style:none;
        		display: flex;
 	            display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                .line {
                	background:#6c6c6b;
                	height:20px;
                	width:1px;
                	 -moz-transform: rotate(15deg); /* Для Firefox */
                     -ms-transform: rotate(15deg); /* Для IE */
                     -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
                     -o-transform: rotate(15deg); /* Для Opera */
                     transform: rotate(15deg);
                     margin:0 20px;
                }

                li {
                	a {
                		color:$colorBlack;
                		font-size:16px;
                	}
                }
        	}
        }

        p.zakaz {
        	padding:5px 10px;
        	border:1px solid #fff;
        	border-radius:10px;

        	a {
        		color:#7d7d7d;
                font-size:16px;
        		&:hover, &:focus {
        			text-decoration:none;
        		}
        	}
        }
	}

	h1 {

		font-size:40px;
		color:$colorWhite;
		text-align:center;
		 text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);
	}
	h2 {
		color:$colorWhite;
		text-align:center;
		 text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);
		font-size:26px;

	}
.rukzak {
margin-left:auto;
}
}
.buy {
	margin:40px auto 20px auto;
	display:flex;
    align-items:center;
    justify-content:center;
	width:215px;
	height:45px;
	color:$colorWhite;
	text-transform:uppercase;
	font-size:20px;
	background-color: #ff0006;
	border-radius:10px;
	 text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);

                &:hover, &:focus {
                	color:$colorWhite;
                	text-decoration:none;
                	background:darken(#ff0006, 15%)
                }

}
.service-wrap {
	    display: flex;
 	    display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction:column;
        margin-top: 2em;
        .service {
        	display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            justify-content:space-around;
            flex-wrap:wrap;
            margin-top: 2em;
            .service-item {
            	text-align:center;
            	width:300px;
            	p {
            		font-size:16px;
            		text-transform:uppercase;
                    color:$colorgrey;
            		span {
            			font-weight:bold;
            		}
            	}
            }
        }
}

.advantage-wrap {
	background:url(../images/advantage-bg.png) no-repeat;
	height:950px;
	background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;

	.advantage {
   padding-top: 5em;

     .section-advantage {
     	margin-top: 3em;
        background:url(../images/advantage-rukzak.png) no-repeat center center;
        height:626px;
        position: relative;
        .items-advantage {
        	line-height:15px;
        	width:305px;
        	display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction:column;
            align-items:center;
            h3 {
            	text-align:center;
            	color:$colorgrey;
            	font-size:16px;
            	font-weight:bold;
            }
            p {
            	color:$colorBlack;

            }

        }
        .item1 {
            	position:absolute;
            	top: 3px;
                left: 127px;
            }
         .item2 {
            	position:absolute;
            	top:250px;
            	left:118px;
            }
         .item3 {
            	position:absolute;
            	bottom: -111px;
                left: 118px;
            }

             .item4 {
            	position:absolute;
            	top:35px;
            	right:123px;
            }

             .item5 {
            	position:absolute;
            	top: 225px;
                right: 134px;
            }

             .item6 {
            	position:absolute;
            	bottom:-84px;
            	right:127px;
            }
     }
	}
}
.title {
			display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction:column;
            margin:0 auto;
			width:555px;
			text-align:center;
			color:$colorgrey;
         h1 {
         	font-size:30px;
         }

         .left-block {
         	width:65px;
         	height:2px;
         	background-color: #fecb00;
         }
         .right-block {
         	width:65px;
         	height:2px;
         	background-color: #fecb00;
         	margin-left:auto;
         }
		}

.haracter-wrap {
	background:url(../images/chel-bg.png) no-repeat;
	background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover; 
   background-position:-250% 75%;
	height:700px;

	.title {
		width:580px;
	}
	.wrap-block {
		    display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            justify-content:space-between;
            flex-wrap:wrap;
            div {
            	ul {
            		margin-left:-10em;
            		list-style:none;

            		li {
            			background:url(../images/arrow.png) no-repeat;
            			padding-left: 2em;
            			margin-bottom: 5px;
            		}
            	}
            }
	}
}
.wendor-wrap {
	background:url(../images/wender-bg.png) no-repeat;
	height: auto;

	.wendor {
		    padding:1em 0;
		    display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            justify-content:space-between;
            background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover; 
            flex-wrap:wrap;
            color:$colorWhite;
            h1 {
            	font-size:30px;
            	text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);
            }
            h2 {
            	font-size:18px;
            	text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);
            }
	}
}
.catalog-wrap {
	background:url(../images/girl.png) no-repeat;
	background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover; 
   background-position:50% 0%;
	height:900px;

	.catalog {
		padding-top: 2em;

		.title {
			width:480px;
			margin-bottom: 2em;
		}
		.catalog-block {
			margin-top: 10px;
			 display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            flex-wrap:wrap;
            justify-content:space-around;

            .item {
            	text-align:center;
            	font-size:16px;
            	color:$colorgrey;
              img {
              	margin-bottom: 1em;
              }
            	p {
            		font-weight:bold;
            	}
            }
		}
	}

}
.poddelka-wrap {
	background:#cd1041;
	height:auto;

	.poddelka {
		    display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            flex-wrap:wrap;
            justify-content:center;

            h1 {
            	color:$colorWhite;
            	text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);
            }
	}
}
.reviews-wrap {
	background:url(../images/otziv-bg.png) no-repeat;
	background-size:100%;
	height:730px;
	padding-bottom: 5em;

	.review {
		padding-top: 2em;
		.title {
			width:360px;
			margin-bottom: 2em;
		}
	}

	.item-reviews {
		text-align:center;
		width:800px;
		margin:0 auto;
		color:$colorgrey;
	}

	.profile-wrap {
		    display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            justify-content:center;
            margin-bottom: 3em;
             .img-profile {
             	z-index:9999;
             }
            .block {
            	position:relative;
            	padding:0 20px;
            	border:1px solid red;
            	display: flex;
 	        display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            align-items:center;
            justify-content:space-between;
          margin-left: -1px;
            width:550px;
            color:$colorgrey;

              h3 {
              	font-size:28px;
              }

              p {
              	font-size:18px;
              }

              .gorod {
              	padding-top:2em;

              	img {
              		margin-bottom: 1em;
              	}
              }
            }
	}
}
.carousel-control.left {
	background:transparent !important;
	top:50% !important;
}
.carousel-control.right {
	background:transparent !important;
	top:50% !important;
}
.carousel-indicators li {
	background:#ffcd00 !important;
	border:1px solid #ffcd00 !important;
}
.carousel-indicators .active {
	background:red !important;
	border:1px solid red !important;
}
.carousel-indicators {
	bottom:-50px !important;
}
.form {
	width:400px;
    margin:0 auto;
	.title {
		width: 280px;
		margin-bottom: 3em;
	}

	.block {
		text-align:center;
        line-height:60px;
		input[name="name"] {
			font-weight:bold;
			text-align:center;
			width:396px;
			height:46px;
		}
		input[name="phone"] {
			font-weight:bold;
			text-align:center;
			width:396px;
			height:46px;
		}
		input[name="comment"] {
			font-weight:bold;
			text-align:center;
			width:396px;
			height:106px;
		}

		#go {
			margin:1em auto;
	display:flex;
    align-items:center;
    justify-content:center;
	width:215px;
	height:60px;
	color:$colorWhite;
	text-transform:uppercase;
	font-size:20px;
	background-color: #ff0006;
	border-radius:10px;
	 text-shadow: -1px -1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(255,255,255, 0.2), 
                1px 1px 1px rgba(0,0,0, 0.7);

                &:hover, &:focus {
                	color:$colorWhite;
                	text-decoration:none;
                	background:darken(#ff0006, 15%)
                }
		}
	}
}
.footer {
	background:$colorgrey;
	height:40px;
	color:$colorWhite;
    display:flex;

    justify-content:center;
    align-items:flex-end;
}
a {
	outline:none !important;
}