@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,500,700&subset=cyrillic');

.justi
{
	text-align: justify;
}
.justi:after
{
	content: '';
	display: inline-block;
	height: 0px;
	width: 100%;
}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder
{
	color: transparent !important;
}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder
{
	color: transparent !important;-
}
input:focus:-ms-textarea-placeholder,textarea:focus:-ms-textarea-placeholder
{
	color: transparent !important;
}
input:focus::-webkit-textarea-placeholder,textarea:focus::-webkit-textarea-placeholder
{
	color: transparent !important;
}
input:focus::placeholder,textarea:focus::placeholder
{
	color: transparent !important;
}
input:focus::input-placeholder,textarea:focus::input-placeholder
{
	color: transparent !important;
}
input:focus::textarea-placeholder,textarea:focus::textarea-placeholder
{
	color: transparent !important;
}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder
{
	color: transparent !important;
}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder
{
	color: transparent !important;
}
.screen
{
	background: url("../img/maket.jpg") no-repeat center top;
	display: none;
	height: 8153px;
	left: 0;
	opacity: .8;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}
body
{
	font-family: 'Roboto';
	font-size: 14px;
}
.wrapper
{
	min-height: 100vh;
	overflow: hidden;
}
.center
{
	margin: 0 auto;
	width: 960px;
}
section
{
	background: #fff;
	position: relative;
	z-index: 3;
}
.element
{
	margin-bottom: 20px;
}
.element input[type="text"]
{
	background: #fff;
	border: 0;
	box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 46px;
	icab-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	moz-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	ms-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	o-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	padding: 0 20px;
	webkit-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	width: 315px;
}
.element input[type="text"]:-ms-input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]::-webkit-input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]:-ms-textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]::-webkit-textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]::placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]::input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]::textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.element input[type="text"]::-moz-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 46px;
}
.element input[type="text"]:-moz-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 46px;
}
.element input[type="button"],.element input[type="submit"]
{
	background: #63cb63;
	background: linear-gradient(to bottom, #63cb63 0%, #51a851 100%);
	background: -moz-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -ms-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -o-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63cb63), color-stop(100%, #51a851));
	background: -webkit-linear-gradient(top, #63cb63 0%, #51a851 100%);
	border: 0;
	box-shadow: 0px 4px 6px #528c52;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63cb63', endColorstr='#51a851',GradientType=0 );
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 54px;
	icab-box-shadow: 0px 4px 6px #528c52;
	moz-box-shadow: 0px 4px 6px #528c52;
	ms-box-shadow: 0px 4px 6px #528c52;
	o-box-shadow: 0px 4px 6px #528c52;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	webkit-box-shadow: 0px 4px 6px #528c52;
	width: 315px;
}
.element input[type="button"]:hover,.element input[type="submit"]:hover
{
	background: #51a851;
	background: linear-gradient(to bottom, #51a851 0%, #63cb63 100%);
	background: -moz-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -ms-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -o-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51a851), color-stop(100%, #63cb63));
	background: -webkit-linear-gradient(top, #51a851 0%, #63cb63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51a851', endColorstr='#63cb63',GradientType=0 );
}
.element input[type="button"]:active,.element input[type="submit"]:active
{
	box-shadow: 0px 1px 2px #528c52;
	icab-box-shadow: 0px 1px 2px #528c52;
	moz-box-shadow: 0px 1px 2px #528c52;
	ms-box-shadow: 0px 1px 2px #528c52;
	o-box-shadow: 0px 1px 2px #528c52;
	position: relative;
	top: 1px;
	webkit-box-shadow: 0px 1px 2px #528c52;
}
.top_line
{
	border-bottom: 1px solid #b2b2b2;
	height: 77px;
}
.top_line .logo
{
	display: inline-block;
	margin: 10px 0 0 6px;
	vertical-align: top;
}
.top_line .delivery
{
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	margin: 18px 0 0 87px;
	vertical-align: top;
}
.top_line .delivery:before
{
	content: url("../img/ico16.png");
	left: -28px;
	position: absolute;
	top: 0px;
}
.top_line .delivery span
{
	font-size: 15px;
}
.top_line .timework
{
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	margin: 18px 0 0 87px;
	vertical-align: top;
}
.top_line .timework:before
{
	content: url("../img/ico1.png");
	left: -28px;
	position: absolute;
	top: 0px;
}
.top_line .timework span
{
	font-size: 15px;
}
.top_line .right_side
{
	position: absolute;
	right: 20px;
	top: 8px;
}
.top_line .right_side p
{
	font-family: 'Roboto Condensed';
	font-size: 15px;
}
.top_line .right_side span
{
	display: block;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 26px;
	margin: 2px 0px;
	position: relative;
}
.top_line .right_side span:before
{
	content: url("../img/ico2.png");
	left: -30px;
	position: absolute;
	top: 0px;
}
.menu_wrap
{
	height: 46px;
}
.menu.active
{
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	icab-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	left: 0;
	moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	o-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	position: fixed;
	right: 0;
	top: 0;
	webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	z-index: 5;
}
.menu nav ul
{
	text-align: center;
}
.menu nav ul li
{
	display: inline-block;
	margin: 0 16px;
	vertical-align: top;
}
.menu nav ul li a
{
	color: #000;
	font-family: 'Roboto Condensed';
	font-size: 18px;
	icab-transition: 0.4s;
	line-height: 46px;
	moz-transition: 0.4s;
	ms-transition: 0.4s;
	o-transition: 0.4s;
	text-decoration: none;
	transition: 0.4s;
	webkit-transition: 0.4s;
}
.menu nav ul li a:hover
{
	color: #FFB12A;
}
header
{
	background: url("../img/header.jpg") no-repeat center 1%;
	background-size: cover;
	height: 550px;
	icab-background-size: cover;
	moz-background-size: cover;
	ms-background-size: cover;
	o-background-size: cover;
	webkit-background-size: cover;
}
header h2
{
	color: #fff;
	font-family: 'Roboto Condensed';
	font-size: 54px;
	padding-top: 12px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
header h3
{
	color: #fff;
	font-family: 'Roboto Condensed';
	font-size: 44px;
	padding-top: 32px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
header .title
{
	color: #fff;
	display: inline-block;
	font-size: 27px;
	line-height: 30px;
	margin: 41px 0 0 20px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	text-transform: uppercase;
}
header .title span
{
	display: block;
	font-family: 'Roboto Condensed';
}
header .title ins
{
	display: block;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	letter-spacing: 1.7px;
}
header h1
{
	background: rgba(41,41,41,0.6);
	color: #fff;
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 42px;
	margin: -60px 0px 0 350px;
	padding: 8px 26px 8px 26px;
	text-align: center;
	vertical-align: top;
	width: 400px;
}
header .list
{
	display: inline-block;
	margin: 32px 0 0 42px;
	vertical-align: top;
}
header .list li
{
	background: #ccc;
	color: #0d0d0d;
	display: block;
	float: left;
	font-family: 'Roboto Condensed';
	font-size: 14px;
	height: 140px;
	margin-bottom: 11px;
	margin-right: 15px;
	text-align: center;
	width: 130px;
}
header .list li img
{
	display: block;
	margin-bottom: 5px;
	margin-left: 15px;
}
header li .offer
{
	color: #ccc;
	display: block;
	float: left;
	font-family: 'Roboto Condensed';
	font-size: 20px;
	margin-bottom: 11px;
	margin-right: 15px;
	width: 70px;
}
header .video
{
	background: #ccc;
	display: inline-block;
	height: 172px;
	margin: 33px 0 0 0px;
	vertical-align: top;
	width: 262px;
}
.vtoroi
{
	padding-bottom: 30px;
}
.akcia_block
{
	background: #fff;
	border-radius: 6px;
	box-shadow: 0px 2px 2px #e4e4e4;
	height: 500px;
	icab-box-shadow: 0px 2px 2px #e4e4e4;
	margin: 0px auto;
	margin-top: -57px;
	moz-box-shadow: 0px 2px 2px #e4e4e4;
	ms-box-shadow: 0px 2px 2px #e4e4e4;
	o-box-shadow: 0px 2px 2px #e4e4e4;
	padding-top: 17px;
	webkit-box-shadow: 0px 2px 2px #e4e4e4;
	width: 920px;
}
.akcia_block:before
{
	background: url("../img/ptn.png");
	content: '';
	height: 54px;
	position: absolute;
	right: 100%;
	top: 40px;
	width: 2000px;
}
.akcia_block:after
{
	background: url("../img/ptn.png");
	content: '';
	height: 54px;
	left: 100%;
	position: absolute;
	top: 40px;
	width: 2000px;
}
.akcia_block .akcia_title
{
	left: -19px;
	position: absolute;
	top: 23px;
	z-index: 1;
}
.akcia_block h2
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 27px;
	line-height: 33px;
	padding: 0 50px 0 170px;
	text-transform: uppercase;
}
.akcia_block h2 span
{
	color: #fbb03b;
}
.akcia_block .akcia_left
{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 510px;
}
.akcia_block .akcia_left p
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 18px;
	padding-left: 35px;
}
.akcia_block .akcia_left p span
{
	color: #4fbb57;
}
.akcia_block .akcia_left .price
{
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 24px;
	margin-left: 80px;
	margin-top: 10px;
}
.akcia_block .akcia_left .price:before
{
	content: url("../img/ico5.png");
	left: -40px;
	position: absolute;
	top: -2px;
}
.akcia_block .akcia_left .price span
{
	color: #666666;
	text-decoration: line-through;
}
.akcia_block .akcia_left .price ins
{
	margin-left: 10px;
}
.akcia_block .akcia_right
{
	display: inline-block;
	margin-left: 22px;
	margin-top: 48px;
	padding-left: 30px;
	vertical-align: top;
	width: 350px;
}
.akcia_block .akcia_right .form .form_title
{
	font-family: 'Roboto Condensed';
	font-size: 16px;
	line-height: 18px;
}
.akcia_block .akcia_right .form form
{
	margin-top: 20px;
}
.akcia_block .akcia_right .form .element
{
	margin-bottom: 20px;
}
.akcia_block .akcia_right .form .element input[type="text"]
{
	background: #fff;
	border: 0;
	box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 46px;
	icab-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	moz-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	ms-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	o-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	padding: 0 20px;
	webkit-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	width: 315px;
}
.akcia_block .akcia_right .form .element input[type="text"]:-ms-input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]::-webkit-input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]:-ms-textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]::-webkit-textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]::placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]::input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]::textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.akcia_block .akcia_right .form .element input[type="text"]::-moz-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 46px;
}
.akcia_block .akcia_right .form .element input[type="text"]:-moz-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 46px;
}
.akcia_block .akcia_right .form .element input[type="button"],.akcia_block .akcia_right .form .element input[type="submit"]
{
	background: #63cb63;
	background: linear-gradient(to bottom, #63cb63 0%, #51a851 100%);
	background: -moz-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -ms-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -o-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63cb63), color-stop(100%, #51a851));
	background: -webkit-linear-gradient(top, #63cb63 0%, #51a851 100%);
	border: 0;
	box-shadow: 0px 4px 6px #528c52;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63cb63', endColorstr='#51a851',GradientType=0 );
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 54px;
	icab-box-shadow: 0px 4px 6px #528c52;
	moz-box-shadow: 0px 4px 6px #528c52;
	ms-box-shadow: 0px 4px 6px #528c52;
	o-box-shadow: 0px 4px 6px #528c52;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	webkit-box-shadow: 0px 4px 6px #528c52;
	width: 315px;
}
.akcia_block .akcia_right .form .element input[type="button"]:hover,.akcia_block .akcia_right .form .element input[type="submit"]:hover
{
	background: #51a851;
	background: linear-gradient(to bottom, #51a851 0%, #63cb63 100%);
	background: -moz-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -ms-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -o-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51a851), color-stop(100%, #63cb63));
	background: -webkit-linear-gradient(top, #51a851 0%, #63cb63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51a851', endColorstr='#63cb63',GradientType=0 );
}
.akcia_block .akcia_right .form .element input[type="button"]:active,.akcia_block .akcia_right .form .element input[type="submit"]:active
{
	box-shadow: 0px 1px 2px #528c52;
	icab-box-shadow: 0px 1px 2px #528c52;
	moz-box-shadow: 0px 1px 2px #528c52;
	ms-box-shadow: 0px 1px 2px #528c52;
	o-box-shadow: 0px 1px 2px #528c52;
	position: relative;
	top: 1px;
	webkit-box-shadow: 0px 1px 2px #528c52;
}
.akcia_block .akcia_right .form p
{
	color: #666;
	font-family: 'Roboto Condensed';
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 16px;
	padding-left: 16px;
}
.icons
{
	margin-top: 50px;
}
.icons li
{
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.icons li .ico
{
	height: 65px;
}
.icons li .ico img
{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.icons li p
{
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 22px;
	margin-top: 10px;
}
.osobenosti
{
	background: #f5f5f5;
	padding-bottom: 40px;
	padding-top: 70px;
}
.osobenosti h2
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 27px;
	text-align: center;
	text-transform: uppercase;
}
.osobenosti ul
{
	margin-top: 60px;
}
.osobenosti ul li
{
	margin-bottom: 50px;
	text-align: center;
}
.osobenosti ul li img
{
	display: inline-block;
	vertical-align: top;
}
.osobenosti ul li .oso_text
{
	display: inline-block;
	padding-left: 40px;
	text-align: left;
	vertical-align: top;
	width: 460px;
}
.osobenosti ul li .oso_text h3
{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 10px;
}
.osobenosti ul li .oso_text p
{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}
.osobenosti .call_back_block
{
	background: #fff;
	border-radius: 4px;
	height: 240px;
	margin: 0 auto;
	padding: 34px 0 0 0px;
	text-align: center;
	width: 920px;
}
.osobenosti .call_back_block p
{
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
	margin-right: 20px;
	margin-top: 18px;
	text-align: left;
	vertical-align: top;
	width: 450px;
}
.osobenosti .call_back_block .form
{
	display: inline-block;
	vertical-align: top;
}
.otzivi
{
	padding-bottom: 80px;
	padding-top: 80px;
}
.otzivi h2
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 27px;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}
.otzivi .otzivi_carousel
{
	text-align: center;
}
.otzivi .otzivi_carousel .o_imgs
{
	display: inline-block;
	vertical-align: top;
	width: 260px;
}
.otzivi .otzivi_carousel .o_imgs .otziv_photo
{
	border: 2px solid #f2f2f2;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: 1;
}
.otzivi .otzivi_carousel .o_imgs .otziv_tovar
{
	border: 2px solid #f2f2f2;
	margin-bottom: 20px;
	margin-left: 68px;
	margin-top: 16px;
}
.otzivi .otzivi_carousel .o_imgs p
{
	color: #fbb03b;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
	text-align: right;
}
.otzivi .otzivi_carousel .o_imgs p span
{
	color: #000;
	font-size: 14px;
}
.otzivi .otzivi_carousel .o_text
{
	display: inline-block;
	font-size: 15px;
	line-height: 22px;
	padding-left: 40px;
	text-align: left;
	vertical-align: top;
	width: 510px;
}
.otzivi .otzivi_carousel button
{
	height: 85px;
	width: 42px;
}
.otzivi .otzivi_carousel button.slick-prev
{
	background: url("../img/prev.png");
}
.otzivi .otzivi_carousel button.slick-next
{
	background: url("../img/next.png");
}
.otzivi .otzivi_carousel .slick-dots
{
	bottom: 0;
	margin-top: 40px;
	position: relative;
	text-align: center;
}
.otzivi .otzivi_carousel .slick-dots li
{
	display: inline-block;
	vertical-align: top;
}
.otzivi .otzivi_carousel .slick-dots li.slick-active button
{
	background: #50a750;
}
.otzivi .otzivi_carousel .slick-dots li button
{
	background: #aebbc9;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}
.otzivi .otzivi_carousel .slick-dots li button:before
{
	display: none;
}
.otzivi .call_back_block
{
	background: #eff9ef;
	border-radius: 4px;
	height: 130px;
	margin: 0 auto;
	padding: 34px 0 0 0px;
	text-align: center;
	width: 920px;
}
.otzivi .call_back_block p
{
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
	margin-right: 20px;
	text-align: left;
	vertical-align: top;
	width: 530px;
}
.otzivi .call_back_block button
{
	background: #63cb63;
	background: linear-gradient(to bottom, #63cb63 0%, #51a851 100%);
	background: -moz-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -ms-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -o-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63cb63), color-stop(100%, #51a851));
	background: -webkit-linear-gradient(top, #63cb63 0%, #51a851 100%);
	border: 0;
	box-shadow: 0px 4px 6px #528c52;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63cb63', endColorstr='#51a851',GradientType=0 );
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 54px;
	icab-box-shadow: 0px 4px 6px #528c52;
	moz-box-shadow: 0px 4px 6px #528c52;
	ms-box-shadow: 0px 4px 6px #528c52;
	o-box-shadow: 0px 4px 6px #528c52;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	webkit-box-shadow: 0px 4px 6px #528c52;
	width: 290px;
}
.otzivi .call_back_block button:hover
{
	background: #51a851;
	background: linear-gradient(to bottom, #51a851 0%, #63cb63 100%);
	background: -moz-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -ms-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -o-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51a851), color-stop(100%, #63cb63));
	background: -webkit-linear-gradient(top, #51a851 0%, #63cb63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51a851', endColorstr='#63cb63',GradientType=0 );
}
.otzivi .call_back_block button:active
{
	box-shadow: 0px 1px 2px #528c52;
	icab-box-shadow: 0px 1px 2px #528c52;
	moz-box-shadow: 0px 1px 2px #528c52;
	ms-box-shadow: 0px 1px 2px #528c52;
	o-box-shadow: 0px 1px 2px #528c52;
	position: relative;
	top: 1px;
	webkit-box-shadow: 0px 1px 2px #528c52;
}
.econom
{
	background: #f5f5f5;
	padding: 80px 0px 30px;
}
.econom .center>h2
{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
}
.econom .center>h2 span
{
	color: #f4a833;
}
.econom .economs_blocks
{
	text-align: center;
}
.econom .economs_blocks .block_econom
{
	border: 3px solid #e1e1e1;
	display: inline-block;
	height: 514px;
	margin: 50px 10px 0px;
	padding: 0px 11px;
	vertical-align: top;
	width: 448px;
}
.econom .economs_blocks .block_econom.good
{
	border-color: #5aba5a;
}
.econom .economs_blocks .block_econom h3
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 18px;
	padding: 30px 0px;
	text-align: center;
	text-transform: uppercase;
}
.econom .economs_blocks .block_econom h3 span
{
	color: #5aba5a;
}
.econom .economs_blocks .block_econom ul
{
	margin-top: 20px;
}
.econom .economs_blocks .block_econom ul li
{
	font-size: 18px;
	line-height: 28px;
	padding-left: 30px;
	position: relative;
	text-align: left;
}
.econom .economs_blocks .block_econom ul li img
{
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
}
.econom .akcia_block
{
	background: #fff;
	margin-top: 50px;
}
.har
{
	padding: 60px 0px;
}
.har h2
{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
}
.har .blocks
{
	text-align: center;
}
.har .blocks .har_block
{
	border: 3px solid #e1e1e1;
	display: inline-block;
	margin: 50px auto 0px;
	text-align: center;
	width: 916px;
}
.har .blocks .har_block h3
{
	color: #fbb03b;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 27px;
	padding: 20px 0px;
	text-align: center;
	text-transform: uppercase;
}
.har .blocks .har_block ul
{
	display: inline-block;
	margin: 0 20px;
	text-align: left;
	vertical-align: top;
	width: 400px;
}
.har .blocks .har_block ul li
{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 20px;
}
.har .blocks .har_block ul li span
{
	color: #51a751;
	display: block;
}
.har .blocks .coplect_block
{
	border: 3px solid #e1e1e1;
	display: inline-block;
	height: 410px;
	margin: 20px 8px 0px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: top;
	width: 450px;
}
.har .blocks .coplect_block h3
{
	color: #fbb03b;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 27px;
	padding: 20px 0px;
	text-align: center;
	text-transform: uppercase;
}
.har .blocks .coplect_block p
{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	margin: 0 auto;
	text-align: left;
	width: 360px;
}
.har .blocks .coplect_block a
{
	display: inline-block;
	margin: 0 5px;
	vertical-align: top;
	width: 200px;
}
.har .blocks .coplect_block a img
{
	width: 100%;
}
.how
{
	background: #f5f5f5;
	padding: 50px 0px;
	text-align: center;
}
.how .how_left
{
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 330px;
}
.how .how_left h3
{
	font-size: 26px;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.how .how_left p
{
	font-size: 18px;
	height: 80px;
	line-height: 24px;
	padding-left: 90px;
	position: relative;
}
.how .how_left p img
{
	left: 0;
	position: absolute;
	top: 0;
}
.how .how_right
{
	background: #fff;
	display: inline-block;
	margin-left: 70px;
	padding: 40px;
	visibility: top;
	width: 395px;
}
.how .how_right p
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
}
.how .how_right input[type="button"],.how .how_right input[type="submit"]
{
	text-transform: uppercase;
}
.vopros
{
	padding: 50px 0px 0px;
	text-align: center;
}
.vopros h2
{
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
}
.vopros .vopros_left
{
	display: inline-block;
	margin: 50px 30px;
	margin-top: 50px;
	vertical-align: top;
}
.vopros .vopros_left span
{
	display: block;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 1px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.vopros .vopros_left p
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 52px;
	letter-spacing: 2px;
}
.vopros .vopros_left button
{
	background: #63cb63;
	background: linear-gradient(to bottom, #63cb63 0%, #51a851 100%);
	background: -moz-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -ms-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -o-linear-gradient(top, #63cb63 0%, #51a851 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63cb63), color-stop(100%, #51a851));
	background: -webkit-linear-gradient(top, #63cb63 0%, #51a851 100%);
	border: 0;
	box-shadow: 0px 4px 6px #528c52;
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63cb63', endColorstr='#51a851',GradientType=0 );
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 54px;
	icab-box-shadow: 0px 4px 6px #528c52;
	moz-box-shadow: 0px 4px 6px #528c52;
	ms-box-shadow: 0px 4px 6px #528c52;
	o-box-shadow: 0px 4px 6px #528c52;
	position: relative;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	text-transform: uppercase;
	top: -8px;
	webkit-box-shadow: 0px 4px 6px #528c52;
	width: 390px;
}
.vopros .vopros_left button:hover
{
	background: #51a851;
	background: linear-gradient(to bottom, #51a851 0%, #63cb63 100%);
	background: -moz-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -ms-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -o-linear-gradient(top, #51a851 0%, #63cb63 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51a851), color-stop(100%, #63cb63));
	background: -webkit-linear-gradient(top, #51a851 0%, #63cb63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51a851', endColorstr='#63cb63',GradientType=0 );
}
.vopros .vopros_left button:active
{
	box-shadow: 0px 1px 2px #528c52;
	icab-box-shadow: 0px 1px 2px #528c52;
	moz-box-shadow: 0px 1px 2px #528c52;
	ms-box-shadow: 0px 1px 2px #528c52;
	o-box-shadow: 0px 1px 2px #528c52;
	position: relative;
	top: 1px;
	webkit-box-shadow: 0px 1px 2px #528c52;
}
.map_block .map
{
	background: #ccc;
	height: 470px;
}
.map_block .map_text
{
	background: url("../img/map.png") no-repeat center;
	color: #fff;
	height: 144px;
	left: 0;
	line-height: 36px;
	margin: auto;
	padding-top: 18px;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 920px;
}
.map_block .map_text span
{
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 24px;
}
.map_block .map_text p
{
	font-family: 'Roboto Condensed';
	font-size: 22px;
}
.footer
{
	border-bottom: 1px solid #b2b2b2;
	height: 127px;
}
.footer .logo
{
	display: inline-block;
	margin: 10px 0 0 6px;
	vertical-align: top;
}
.footer .timework
{
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	margin: 28px 0 0 147px;
	vertical-align: top;
}
.footer .timework:before
{
	content: url("../img/ico1.png");
	left: -28px;
	position: absolute;
	top: 0px;
}
.footer .timework span
{
	font-size: 15px;
}
.footer .right_side
{
	position: absolute;
	right: 20px;
	top: 8px;
}
.footer .right_side p
{
	font-family: 'Roboto Condensed';
	font-size: 15px;
}
.footer .right_side span
{
	display: block;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 26px;
	margin: 2px 0px;
	position: relative;
}
.footer .right_side span:before
{
	content: url("../img/ico2.png");
	left: -30px;
	position: absolute;
	top: 0px;
}
.popup
{
	background: #fff;
	border-radius: 4px;
	bottom: 0;
	display: none;
	height: 300px;
	left: 0;
	margin: auto;
	padding: 20px 0px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	width: 350px;
	z-index: 100;
}
.popup .form_title
{
	font-size: 22px;
	margin-bottom: 20px;
}
.popup .krest
{
	color: #fff;
	cursor: pointer;
	position: absolute;
	right: -16px;
	top: -16px;
}
.popup.popup_otziv
{
	height: 480px;
}
.popup.popup_otziv textarea
{
	background: #fff;
	border: 0;
	box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	font-family: 'Roboto Condensed';
	font-size: 24px;
	height: 150px;
	icab-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	moz-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	ms-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	o-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	padding: 0 20px;
	padding-top: 10px;
	webkit-box-shadow: inset 0px 2px 8px rgba(0,0,0,0.24);
	width: 315px;
}
.popup.popup_otziv textarea:-ms-input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea::-webkit-input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea:-ms-textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea::-webkit-textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea::placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea::input-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea::textarea-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 30px;
}
.popup.popup_otziv textarea::-moz-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 46px;
}
.popup.popup_otziv textarea:-moz-placeholder
{
	color: #666666;
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 46px;
}
.bg_popup
{
	background: rgba(0,0,0,0.7);
	bottom: 0;
	display: none;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}