@charset "UTF-8";
.slick-slider
{
	box-sizing: border-box;
	display: block;
	khtml-user-select: none;
	moz-box-sizing: border-box;
	moz-user-select: none;
	ms-touch-action: pan-y;
	ms-user-select: none;
	position: relative;
	touch-action: pan-y;
	user-select: none;
	webkit-tap-highlight-color: transparent;
	webkit-touch-callout: none;
	webkit-user-select: none;
}
.slick-list
{
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}
.slick-list:focus
{
	outline: none;
}
.slick-loading .slick-list
{
	background: #fff url("ajax-loader.html") center center no-repeat;
}
.slick-list.dragging
{
	cursor: hand;
	cursor: pointer;
}
.slick-slider .slick-track
{
	moz-transform: translate3d(0, 0, 0);
	ms-transform: translate3d(0, 0, 0);
	o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	webkit-transform: translate3d(0, 0, 0);
}
.slick-track
{
	display: block;
	left: 0;
	position: relative;
	top: 0;
}
.slick-track:before, .slick-track:after
{
	content: "";
	display: table;
}
.slick-track:after
{
	clear: both;
}
.slick-loading .slick-track
{
	visibility: hidden;
}
.slick-slide
{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir="rtl"] .slick-slide
{
	float: right;
}
.slick-slide img
{
	display: block;
}
.slick-slide.slick-loading img
{
	display: none;
}
.slick-slide.dragging img
{
	pointer-events: none;
}
.slick-initialized .slick-slide
{
	display: block;
}
.slick-loading .slick-slide
{
	visibility: hidden;
}
.slick-vertical .slick-slide
{
	border: 1px solid transparent;
	display: block;
	height: auto;
}
@font-face
{
	font-family: "slick";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/slick.html");
	src: url("fonts/slickd41dd41d.html?#iefix") format("embedded-opentype"), url("fonts/slick-2.html") format("woff"), url("fonts/slick-3.html") format("truetype"), url("fonts/slick-4.html#slick") format("svg");
}
.slick-prev, .slick-next
{
	background: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 20px;
	line-height: 0;
	margin-top: -10px;
	outline: none;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 20px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
{
	background: transparent;
	color: transparent;
	outline: none;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before
{
	opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
{
	opacity: 0.25;
}
.slick-prev:before, .slick-next:before
{
	color: white;
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	opacity: 0.75;
	webkit-font-smoothing: antialiased;
}
.slick-prev
{
	left: -25px;
}
[dir="rtl"] .slick-prev
{
	left: auto;
	right: -25px;
}
.slick-prev:before
{
	content: "←";
}
[dir="rtl"] .slick-prev:before
{
	content: "→";
}
.slick-next
{
	right: -25px;
}
[dir="rtl"] .slick-next
{
	left: -25px;
	right: auto;
}
.slick-next:before
{
	content: "→";
}
[dir="rtl"] .slick-next:before
{
	content: "←";
}
.slick-slider
{
	margin-bottom: 30px;
}
.slick-dots
{
	bottom: -45px;
	display: block;
	list-style: none;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
.slick-dots li
{
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	position: relative;
	width: 20px;
}
.slick-dots li button
{
	background: transparent;
	border: 0;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 20px;
	line-height: 0;
	outline: none;
	padding: 5px;
	width: 20px;
}
.slick-dots li button:hover, .slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
	color: black;
	content: "•";
	font-family: "slick";
	font-size: 6px;
	height: 20px;
	left: 0;
	line-height: 20px;
	moz-osx-font-smoothing: grayscale;
	opacity: 0.25;
	position: absolute;
	text-align: center;
	top: 0;
	webkit-font-smoothing: antialiased;
	width: 20px;
}
.slick-dots li.slick-active button:before
{
	color: black;
	opacity: 0.75;
}